{% extends "frameBase.html" %}


{% block title %}
	AboutUs			
{% endblock %}


{% block contents %}
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">

	<STYLE TYPE="text/css">
	<!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm; text-align: left }
		p {font-size:14px;}
		p{Lucida Grande, Lucida Sans, Arial, sans-serif} 
	-->
	</STYLE>
</HEAD>

<BODY LANG="zxx" DIR="LTR">

<BR>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">
Research Assistant was founded in March 2010 as part of the Google Workshop in Tel-Aviv University, Israel.<br>

We offer personalization of Google Scholar searches and features that make the researchers' life much easier.<br>

<b>Read more on our projects' <a target=_blank href="http://code.google.com/p/research-assistant/">Home Page</a></b>  

for more information contact us at: tau.research.assistant[at]gmail[dot]com

</SPAN></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>


</BODY>

{% endblock %}