{% extends "frameBase.html" %}




{% block title %}
	Reaserch Assistant - new follow			
{% endblock %}

{% block customScripts %}
 	<script type="text/javascript" src="/static/jquery-ui-1.8.1.custom.min.js"></script>
 	<script type="text/javascript" src="/static/iframeScripts.js"></script>
 {% endblock %}


{% block contents %}

	
	<div id="popupText">Some text</div>
	

	<br>
	<CENTER><h2>Add new Follow</h2></CENTER>
	<br/>
	<br/>
	
	<form id="newFollow" class="addFollow" action='/Submit'  method="post">	
		<!-- notify on --->
		<h3> Notify me on new article </h3>
		<table>		
			<tr>
				<td width=150px>
					<input  id="ch_citing"  name="ch_citing" type="checkbox" value="1"/
					<label class="choice" name="citesTitle" >Citing </label>
					<input name="citesTitle" type="hidden" value = "{{articleName}}">											
				</td>
				<td>
						"{{articleName}}"
				</td>
			</tr>
			<tr>
				<td>			
						<input name="ch_keywords" class="element checkbox" type="checkbox" value="1" />
						<label class="choice">with keywords</label>
				</td>
				<td class="textbox">
						<input name="keywords" type="text" style= "width:250px" value = "{{keywords}}">
				</td>
			</tr>
			<tr>
				<td>			
						<input name="ch_author" id="ch_author" class="element checkbox" type="checkbox" value={{authors}} />
						<label class="choice" >Articles written by</label>
				</td>
				<td>   		
					  	{% if many_authors %}
						  	
						  	<div name="authors">
						  		{% for author in authors %}
						  			{% ifequal author "others" %}
									
									{% else %}
   							   			<input name="author_name" type="checkbox" checked="checked" value="{{author}}" />
											<label class="choice">{{author}}</label> <br/>
									{% endifequal %}
								{% endfor %}
								<input name="ch_author_input" type="checkbox"  />
								<input id="author_input" name="author_input" type="text" style= "width:227px" value="" />
														
							</div>
							
						{% else %}
							
							<input id="author_name" name="author_name" type="text" style= "width:250px" value="{{authors}}">
						{% endif %}
								
				</td>
			</tr>
			<tr id="publication">
				<td>
					
						<input name="ch_journal" class="element checkbox" type="checkbox" value="1" />
						<label class="choice">Articles published in</label>
				</td>
				<td class="textbox">
						<input name="journal" type="text" style= "width:250px" value="{{articleJournal}}">  
						
				</td>
			</tr>
							
		</table>
		<div id="explanation"> "Publication" is enabled only when "citing" checkbox is off</div> 	
		<br/>
		
		<!--end notify on --->
			
		<!-- frequency --->
		<dl >	
			<dt>
				<label class="description">How often </label>
				<select  name="update_frequency"> 
					<option value="Daily" >Daily</option>
					<option value="Weekly" selected="selected">Weekly</option>
					<option value="Monthly">Monthly</option>

				</select>
			</dt>
			<dt><br/></dt>
			<dt>
				<label class="description">Show up to </label>
				<select name="update_quantity"> 
					<option value="10" selected="selected">10</option>
					<option value="20" >20</option>
					<option value="50">50</option>
				</select>
				results
			</dt>	
 	
			<dt><br/></dt>
			<!-- submit button --->					
			<dt class="buttons">
				<input type="hidden" name="citing_num" value={{numCitations}} />    
				<input id="submit" class="button_text" type="submit" name="submit" value="Submit" />
			</dt>
			<!-- submit button --->			
		</dl>
		
</form>	





{% endblock %}