<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/html4/loose.dtd">

{% comment %} This is the basic template for our website {% endcomment  %}
<html>
	<head>
		<title>
		{% comment %} A replaceable block for putting different titles on different pages {% endcomment %}
			
			{% block title %}
				Research Assistant
			{% endblock %}
		
		</title>

 		<style type="text/css">
 		 
            @import "/static/frameStyle.css"; 
			@import "/static/jquery-ui-1.8.1.custom.css";                   
            
        </style>
    
        
        {% block script %}

       
	       	<script src="/static/jquery-1.4.2.min.js" type="text/javascript"></script>
	       	<script src="/static/jquery.json-2.2.min.js" type="text/javascript"></script>
	       	<script src="/static/jquery.livequery.js" type="text/javascript"></script>
			<script type="text/javascript" src="/static/jquery-ui-1.8.1.custom.min.js"> </script>
			<script src="/static/child.js" type="text/javascript"></script>
	       	
	       	{% block customScripts %}
	       	{% endblock %}

    	   	<script type="text/javascript" src="/static/jquery.form.js"></script>
    	         	
	        

    	
    	     
	
       
        {% endblock %}
	</head>
	
	<body>
	
	{% block contents %}
	
	
	
	
	{% endblock %}	
	</body>
	</html>
	
	