<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% comment %} This is the basic template for our website {% endcomment  %}
<html>
	<head>
		<title>
		{% comment %} A replaceable block for putting different titles on different pages {% endcomment %}
			
			{% block title %}
				Research Assistant
			{% endblock %}
		
		</title>

 		<style type="text/css">
 		 
            @import "/static/frameStyle.css";
            @import "/static/jqModal.css";
            
            
        </style>
        
        {% block script %}
          	
    	   	<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
    	   	<script type="text/javascript" src="/static/jquery.form.js"></script>
    	   	<script type="text/javascript" src="/static/jqModal.js"></script>
   			
	       	
	        <script type="text/javascript" src="/static/myJquery.js"> </script>
    	   	<script type="text/javascript" src="/static/json.js"> </script>
    	      
    	   	  	
   	
    		 
    		 	
    		 </script>
	
       
        {% endblock %}
	</head>
	
	<body>
	
	{% block contents %}
	
	
	
	
	{% endblock %}
	
	</body>
	</html>
	
	