{% extends "frameBase.html" %}


{% block title %}
		Help
{% endblock %}



{% block customScripts %}
	 	<script type="text/javascript" src="/static/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/static/help.js"></script>
		
 {% endblock %}


 
 

{% block contents %}

<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">

	<STYLE TYPE="text/css">
	<!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm; text-align: left }
		p {font-size:14px;}
		p{Lucida Grande, Lucida Sans, Arial, sans-serif} 
	-->
	</STYLE>
</HEAD>

<BODY LANG="zxx" DIR="LTR">
<div id="banner1">
<a name="banner1"></a>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><IMG SRC="/static/images/banner1_height_170px_width_1000px.jpg" NAME="graphics1" ALIGN=LEFT width="99%" BORDER=0><BR CLEAR=LEFT>
</P>
<BR>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">Sifting through
the results provided by Google Scholar can be a bit overwhelming.
Research Assistant helps you keep track of important articles by
labeling them. Simply click the “Add Label” button underneath the
article to add it to your collection, which you can then access on-line
from any computer. Want to view all articles belonging to a specific
label? Simply click that label name on the left side of the screen.</SPAN></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>
<a name="banner2"></a>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><IMG SRC="/static/images/banner2_height_170px_width_1000px.jpg" width="99%" NAME="graphics2" ALIGN=LEFT BORDER=0><BR CLEAR=LEFT>
  
</P>
<BR>
<div id="banner2">
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">Want to keep tabs
on new articles, authors or publications? Let us do the dirty work
for you. Creating a “Follow” will allow you to receive updates
via email about new articles – tailored to your needs. Simply
specify the parameters of the periodical search you wish to run, and
we'll let you know if anything new comes up. For instance, you can
add a Follow which searches for new articles citing a specific
article (a great way to know if someone cited <B>your</B><SPAN STYLE="font-weight: normal">
article) – simply find that article, click the “Add Follow”
button and make sure that the “Citing” box is checked</SPAN> (you
can check additional boxes, but that will narrow down your results
significantly). Obviously, you can specify other parameters for your
Follow. </SPAN></FONT>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>

<div id="banner3">
<a name="banner3"></a>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><IMG SRC="/static/images/banner3_height_170px_width_1000px.jpg" NAME="graphics1" ALIGN=LEFT width="99%" BORDER=0><BR CLEAR=LEFT>
</P>
<BR>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">Sharing is
caring. Found an interesting article? Want to start working together
with colleagues? You can easily share a label with other people. Once
they accept your invitation the shared label will become completely
“communal” - any new articles you mark with this label will show
up on their profile, and vice versa. </SPAN></FONT>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>

<div id="banner4">
<a name="banner4"></a>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><IMG SRC="/static/images/banner4_height_170px_width_1000px.jpg" NAME="graphics1" ALIGN=LEFT width="99%" BORDER=0><BR CLEAR=LEFT>
</P>
<BR>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">Keep even better
track of your research by adding comments to your labeled articles.
And remember – any comments you add to a shared label are visible
to all members of that label, making collaboration even easier. </SPAN></FONT>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>

<div id="banner5">
<a name="banner5"></a>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><IMG SRC="/static/images/banner5_height_170px_width_1000px.jpg" NAME="graphics1" ALIGN=LEFT width="99%" BORDER=0><BR CLEAR=LEFT>
</P>
<BR>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm; line-height: 150%">
<SPAN LANG="en">Research Assistant helps you find interesting articles in your field of research. 
We compare your activity on our site with that of other researchers. 
Using this comparison, we are able to recommend other articles that might interest you. 
These recommended items will then appear in the <b>Suggestions</b> area.
You can then review these suggestions and remove an item using the <i>No Thanks</i> button; add it to your
collection by labeling it; or create a Follow based on that article.</SPAN></FONT>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</div>

</BODY>

{% endblock %}
