{% extends "frameBase.html" %}
{% block title %}
	Research Assistant
{% endblock %}


{% block customScripts %}

 
{% endblock %}
{% comment %} A replaceable block for putting different content on different pages {% endcomment  %}

{% block contents %}
<table border="0" height = 100% width = 100% cellpadding="10" >
<TR>
<Td ROWSPAN="9" valign="top">
Welcome to Research Assistant - your personalized Google Scholar.<br><br> 
When you carry out a search with Research Assistant, the results displayed are extracted from <a href="http://scholar.google.com" target="_blank">Google Scholar</a>.<br><br>
Research Assistant offers you the ability to manage your research as you conduct searches, <br>
by allowing you to add labels and comments to articles, share them with colleagues, or create an automated alert service ("Follow") for a specific author/article/journal/etc.<br><br>
For further assistance click on the images to your right or on the banner above.<br><br>
Want to start using Research Assistant? please sign in using your Gmail account (don't have an account? create one <a href="http://mail.google.com/mail/signup" target="_blank">here</a>).<br><br><br><br>

<br>
<br>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fresearch-assistant.appspot.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

   
</Td>
<tr>
<th >Videos</th>
</tr>
<Td width = "120">Label an article<a href="http://www.youtube.com/watch?v=7T3AP6k4NZs#t=01m28s" target = "_blank"><img src="static/images/banner1thumb.jpg" height = "80" width = "110" align = "right"></img> </a></Td>
</TR>
<tr>
<th align = "right"></th>
</tr>
<TR>
<TD >Save comments<a href="http://www.youtube.com/watch?v=7T3AP6k4NZs#t=02m06s" target = "_blank"><img src="static/images/banner4thumb.jpg" height = "80" width = "110" align = "right"></img> </a></TD>
</TR>
<tr>
<th align = "right"></th>
</tr>
<TR>
<TD >Follow new articles<a href="http://www.youtube.com/watch?v=7T3AP6k4NZs#t=03m33s" target = "_blank"><img src="static/images/banner2thumb.jpg" height = "80" width = "110" align = "right"></img> </a></TD>
</TR>
<tr>
<th align = "right"></th>
</tr>
<TR>
<Td>Share your labels<a href="http://www.youtube.com/watch?v=7T3AP6k4NZs#t=02m47s" target = "_blank"><img src="static/images/banner3thumb.jpg" height = "80" width = "110" align = "right"></img> </a></TD>
</TR>


</table> 		
		
{% endblock %}
