{% extends "frameBase.html" %}


{% block title %}
	My Follows		
{% endblock %}



{% block customScripts %}
	<script type="text/javascript" src="/static/iframeScripts.js"></script> 
 	<script type="text/javascript" src="/static/jquery-ui-1.8.1.custom.min.js"></script>
 
 {% endblock %}


 
 

{% block contents %}

<p id="popupText" style="display:none">Some text</p>

<br/>
<CENTER><h2><b>My Follows:</b></h2></CENTER>

{% if users.get_current_user %}

	<br/>
	<table  id="follows_list" >

		{% for follow in myFollows %}
		<tr id="{{follow.follow_name}}">
			<td width=500px>
				{{follow.follow_name}}
			</td>
			<td width=100px>
				<div value="{{follow.follow_name}}">
					<input type="button" class="runSearch"  value="Run Search"/>
				</div>	
			</td>
			<td>	
				<div value="{{follow.follow_name}}">					
					<input type="button" class="removeButton"  value="Remove"/>
				</div>
			</td>
		</tr>	

		{% endfor %}
	</table>
{% else %}
	<br>
	<br>
	<br>
	<CENTER><h3> Please log in to see your follows.</h3></CENTER>
	
{% endif %}	

<form id="follow_to_remove">
	<input type="hidden"  id="action_type" name="action_type" value =""/>
	<input type="hidden"  id="name_to_remove" name="name_to_remove" value =""/>
</form>		

{% endblock %}