{% extends "frameBase.html" %}


{% block title %}
	My Follows		
{% endblock %}


{% block contents %}

<h2>Your Follows:</h2>

<br/>
<table  id="follows_list" >

	{% for follow in myFollows %}
	<tr id="{{follow.follow_name}}">
		<td width=500px>
			{{follow.follow_name}}
		</td>
		<td width=100px>
			<input type="button" class="runSearch" id="{{follow.follow_name}}" value="Run Search"/>
		</td>
		<td>						
			<input type="button" class="removeButton" id="{{follow.follow_name}}" value="Remove"/>
		</td>
	</tr>	

	{% endfor %}
</table>

<form id="follow_to_remove">
	<input type="hidden"  id="action_type" name="action_type" value =""/>
	<input type="hidden"  id="name_to_remove" name="name_to_remove" value =""/>
</form>		

{% endblock %}