

<html>
<head>
<link type="text/css" rel="stylesheet" href="static/frameStyle.css">
</head>
<body>
{% if refined_search_no_results %}
<p>{{text}}</p>
{% else %}

{% if hasDidYouMean %}
<p>Did You Mean: <a href = "/Search?Id={{noResultsKeywords}}&Type=DidYouMean">{{noResultsHTML}} </a></p>
{% else %}
{% if noSuggestions %}

<center><h2><b>New suggestions:</b></h2></center></br>
<center><h3>There are no new suggestions at the moment.</center></br>
<span>Once you have more articles in common with other users you will see here a list of articles relevant to your research.</span>
</p></h3>

{% else %}

<p>No results and no suggestions, try a different search</p>

{% endif %}
{% endif %}
{% endif %}
</body>
</html>
