{% extends "frameBase.html" %}

{% block customScripts %}
	 	<script type="text/javascript" src="/static/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/static/iframeScripts.js"></script>
			
 {% endblock %}

{% block contents %} 

<br>
<center><h2><b>How can this site help ME?</b></h2></center>
<br>
<br>
<div id="accordion">


	<h2><a href="#">Who has just cited my article?</a></h2>
	<div>
		<p> 
			Want to stay updated on articles you have written? Simply search for your article in the search bar,
			click on the "Add Follow" button next to it in the results, check the "Citing" box and click "Submit".
			You will soon start getting all new papers citing yours by email.

 		</p>
	</div>
	<h3><a href="#">Working on a project/paper with colleagues?</a></h3>
	<div>
		<p>
		After you labeled several articles (or even just one) under the same name,
		locate that label on the left hand side and select the "Share" option from its drop down menu.
		Type in the email of the person you are working with. <br>
		As soon as that person accepts your label invitation,
		you will both see the label as pink (shared). 
		From that moment on all articles added/removed to/from that label will be seen by both of you.
		You can add as many users as you want to the shared label group.
 		For more details <a href="/Help#banner3">click here</a>
		</p>
	</div>
	<h3><a href="#">Keep forgetting what you have read and your thoughts about it?</a></h3>
	<div>
		<p>
		Finding it hard to keep track of which articles you have already read, 
		which should be saved for future reference and what you thought about them?
		Why don't you label them accordingly and add your comments?<br>
		To add a label to an article click on the "Add Label" button and type in the label name.<br>
		To add or view comments on an article simply press on the label name next to the relevant article
		title and a comment box will open. 
		Write down your thoughts and save (note that the small comment icon next to the article has changed,
		 signifying that there is now a comment on this article).
		</p>
	</div>
	
	<h3><a href="#">Want to share a reading list with your class?</a></h3>
	<div>
		<p>
		Just label the articles you wish to share and then share that label.
		(Currently you need to type each email address one by one. 
		We will fix this in the future. For now, you can resort to using your human research assistant).
		Alternatively, you can send a "hard copy" of the contents of a certain label by email.
		</p>
					
	</div>
	<h3><a href="#">Working on a several projects simultaneously?</a></h3>
	<div>
		<p>
		Label each article under a different name according to the project it relates to 
		(or add several labels to one article if it relates to several projects). <br>
		To see only articles relevant to a specific subject -
		click on the appropriate label name on the left hand side.
		</p>
		
	</div>
	<h3><a href="#">Be the first to get new articled on your topics of interest!</a></h3>
	<div>
		<p>
		Add a customized "Follow". Get updates each day/week/month. For more details <a href="/Help#banner2">click here</a>
		</p>
	</div>
	
	
	
	
</div>


{% endblock %}