{% extends "base.html" %}

{% comment %} This is the template for displaying search results {% endcomment  %}

{% block title %}
	Reaserch Assistant - search			
{% endblock %}


{% block contents %} 



	{% if  CitedBy %}   

	<div id='infoLine'> {{numOfResults}} : {{infoLine}} </div>	
	<form id="refine"  action="/Search" method="post">
	<h3> Refine your search:</h3>			
		<table >
			<tr>
				<td>  </td>	
				<td>
					<label class="description">	with keywords</label>
				</td>
				<td class="textbox">
					<input name="keywords" type="text" maxlength="255" value="">
				</td>
		
			</tr>
 			<tr>
				<td></td>
				<td>
					<label class="description">	 written by</label>
				</td>
				<td class="textbox">
					<input name="author" type="text" maxlength="255" value="">
					<input type="submit" id="search-submit" value="refine" />
				</td>
			</tr>
		</table>	
	</form>

	{% else %}
		<div id='infoLine'> {{numOfResults}} </div>
			
	{% endif %}
	

	
	{{RefinedSearch}}



{% comment %} Cycle through the results, get all articleData and display it {% endcomment  %}	
	
	{% for result in results %}
		<div id={{result.get_key}} class="Article">
		{% for HTML_url in result.HTML_urlList %}
			{% if HTML_url.get_has_link %}
				<a href= {{HTML_url.get_article_url}}> {{HTML_url.get_article_title}} </a>&nbsp;
					
			{% else %}
				 {{HTML_url.get_article_title}}
			{% endif %}
		{% endfor %}
		<br/>		
		<span class = "AuthorYearPub">	
			{{result.get_HTML_author_year_pub}}
		</span>
		<span class = "Abstract">
			{{result.get_HTML_abstract}}	
		</span>
		<a href="/Search?Id={{result.citationsID}}&Title={{result.get_article_title_quoted}}&AllVer={{result.all_versionsID}}&Type=CitedBy">Cited By {{result.get_citations_NUM}}</a> - 
		<a href= "/Search?Id={{result.related_articlesID}}&Title={{result.get_article_title_quoted}}&Type=RelatedArticles"> Related Articles</a> - 
		{% if result.all_versionsID %}
			<a href= "/Search?Id={{result.all_versionsID}}&Title={{result.get_article_title_quoted}}&Type=AllVersions"> All Versions</a> - 
		{% endif %}
		<a href= "/Search?Id={{result.key}}&Type=Import2BibTex">Import into BibTex</a></form>	
			<form method="post" action={{formAction}}>
				<input type="hidden" name="bibTexKey" value ="{{result.get_key}}"/>
				<input type="hidden" name="SearchTerm" value ="{{keyword}}"/>
				<input type="hidden" name="CitesID" value ="{{result.citationsID}}"/>
				<input type="submit" value="addFollow" />
 
			</form>
		</div>
	{% endfor %}
	<a href="/Search?Type=Back">Back</a>
	<a href="/Search?Type=Next">Next</a>
{% endblock %}



       