function validate(formData, jqForm, options) { 
 
 	not_checked=0;
    for (var i=0; i < formData.length; i++) { 
        if (!formData[i].value){
        	if (formData[i].name == "ch_keywords" or formData[i].name == "ch_journal" 
        		or formData[i].name == "ch_author" or formData[i].name == "ch_citing" ) {
        		not_checked = not_checked+1;
        	}
        }
    } 
    if (not_checked == 4){
    	 alert('Check one of the check boxes'); 
         return false; 
    }else
    	return true;
     
}
				
				







