img
{
	border-style: none;
}

#closeBannerButton
{
	margin: 0 -938px 0px 2px;	
}

#showBannerButton
{
	margin: 0 -932px 0px 2px;	
}

.slideshow1Wrapper
{
	align: center;
}

.slideshow1
{
	align: center;
}